.card_container {
  background-color: blueviolet;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 30px;
}

.card {
  background-color: cadetblue;
  border: 1px black solid;
  padding: 10px;
  border-radius: 10%;
  display: flex;
  width: 150px;
  flex-direction: column;
  gap: 10px;
}

.card_image {
  height: 150px;
  border-radius: 10%;
}

.card_name {
  text-align: center;
  word-break: normal;
}
