.card_container {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: center;
  gap: 15px;
  padding-bottom: 50px;
}

@media (max-width: 800px) {
  .card_container {
    grid-template-columns: repeat(2, 30vw);
  }

  .card_name {
    font-size: 4vw;
  }
}

.card {
  background-color: #ccd5ae;
  border: 1px black solid;
  box-shadow: 1px 2px 5px 1px;
  padding: 15px;
  border-radius: 10%;
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.card:hover {
  box-shadow: 1px 2px 10px 1px #d4a373;
}

.card_image {
  height: auto;
  border-radius: 10%;
}

.card_name {
  font-size: 2vw;
  text-align: center;
  word-break: normal;
}
